In [42]:
import pandas as pd
import numpy as np

In [43]:
pwd

'C:\\Morgan Stanley\\quant-challenge\\Data Ordering Notebooks'

In [55]:
akos_df = pd.read_csv('../data/akos.csv')

In [56]:
akos_df

               County Name  Station
0       Saint Louis County    72745
1       Saint Louis County    KDYT0
2       Saint Louis County    KCOQ0
3             Scott County    KFCM0
4             Scott County    KGYL0
..                     ...      ...
77  Yellow Medicine County    KGDB0
78  Yellow Medicine County    KMVE0
79  Yellow Medicine County    KOVL0
80  Yellow Medicine County    KMML0
81  Yellow Medicine County    KCNB0

[82 rows x 2 columns]

In [57]:
saska_df = pd.read_csv('../data/counties_saska.csv')

In [58]:
saska_df

        County Name  Station
0   Marshall County    KCKN0
1   Marshall County    UYB6K
2     Martin County    KFRM0
3     Martin County    KMJQ0
4     Martin County    KJYG0
..              ...      ...
73      Rock County    KOTG0
74    Roseau County    P6529
75    Roseau County    KHCO0
76    Roseau County    KRRT0
77    Roseau County    X9FED

[78 rows x 2 columns]

In [59]:
lori_df = pd.read_csv('../data/Gagyi-Lori-Counties-Statioins.csv')

In [60]:
lori_df

         County Name  Station
0      Aitkin County    KAIT0
1      Aitkin County    KHZX0
2      Aitkin County    KMZH0
3      Aitkin County    KCOQ0
4       Anoka County    9NRIJ
..               ...      ...
88  Faribault County    KFRM0
89  Faribault County    KAEL0
90  Faribault County    KJYG0
91  Faribault County    KMKT0
92  Faribault County    KACQ0

[93 rows x 2 columns]

In [70]:
huni_df = pd.read_csv('../data/Huni_2.csv', sep=';')

In [71]:
huni_df

                 County Name  Station
0            Fillmore County    72644
1            Fillmore County    KONA0
2            Fillmore County    KFKA0
3            Freeborn County    KAUM0
4            Freeborn County    KAEL0
5             Goodhue County    KRGK0
6             Goodhue County    KSYN0
7               Grant County    KAXN0
8               Grant County    KETH0
9               Grant County    KY630
10           Hennepin County    KMIC0
11           Hennepin County    KFCM0
12            Houston County    KONA0
13            Houston County    KFKA0
14            Hubbard County    KY490
15            Hubbard County    KPKD0
16             Isanti County    KROS0
17             Isanti County    KCBG0
18             Itasca County    KHIB0
19             Itasca County    KGPZ0
20            Jackson County    KOTG0
21            Jackson County    KMJQ0
22            Kanabec County    KROS0
23            Kanabec County    KJMR0
24          Kandiyohi County    KPEX0
25          Kandiyohi County    KBDH0
26            Kittson County    P6529
27            Kittson County    KHCO0
28        Koochiching County    KCDD0
29        Koochiching County    72747
30      Lac qui Parle County    KAQP0
31      Lac qui Parle County    KDXX0
32               Lake County    KTWM0
33               Lake County    KBFW0
34  Lake of the Woods County    KFGN0
35  Lake of the Woods County    KBDE0
36           Le Sueur County    KMKT0
37           Le Sueur County    KFBL0
38            Lincoln County    KCNB0
39            Lincoln County    KMML0
40            Lincoln County    KPQN0
41               Lyon County    KHCO0
42               Lyon County    KMML0
43             McLeod County    KGYL0
44             McLeod County    KHCD0
45           Mahnomen County    KFSE0
46           Mahnomen County    KDTL0

In [72]:
df = pd.concat([akos_df, saska_df, lori_df, huni_df], ignore_index=True)

In [73]:
df.to_csv('county-station.csv')

In [74]:
df

            County Name  Station
0    Saint Louis County    72745
1    Saint Louis County    KDYT0
2    Saint Louis County    KCOQ0
3          Scott County    KFCM0
4          Scott County    KGYL0
..                  ...      ...
295         Lyon County    KMML0
296       McLeod County    KGYL0
297       McLeod County    KHCD0
298     Mahnomen County    KFSE0
299     Mahnomen County    KDTL0

[300 rows x 2 columns]

In [146]:
df = pd.read_csv('../data/united_data.csv', index_col=0).fillna(0)
y = df['Corn_Yield']

In [147]:
y = pd.DataFrame(y)
y

                    Corn_Yield
1993-Pope County          58.0
1999-Pope County         151.0
2000-Pope County         153.0
2001-Pope County         138.0
2002-Pope County         164.0
...                        ...
2011-Waseca County       175.9
2012-Waseca County       180.1
2013-Waseca County       171.6
2014-Waseca County       160.2
2015-Waseca County       199.2

[1449 rows x 1 columns]

In [148]:
def convert_corn_yield(row):
    idx = row.name
    year = int(idx[:4])
    row['Corn_Yield'] = row['Corn_Yield'] + (1950-year)*1.96966271
    return row

In [149]:
y = y.apply(convert_corn_yield, axis=1)
y

                    Corn_Yield
1993-Pope County    -26.695497
1999-Pope County     54.486527
2000-Pope County     54.516864
2001-Pope County     37.547202
2002-Pope County     61.577539
...                        ...
2011-Waseca County   55.750575
2012-Waseca County   57.980912
2013-Waseca County   47.511249
2014-Waseca County   34.141587
2015-Waseca County   71.171924

[1449 rows x 1 columns]

In [150]:
y.mean()

Corn_Yield    29.434131
dtype: float64