In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
county_df = pd.read_csv('../agri/minnesota_county_yearly_agricultural_production.csv')
county_df

,Year,County,Commodity,Crop,ACRES HARVESTED,"PRODUCTION, MEASURED IN BU","YIELD, MEASURED IN BU / ACRE"
0,1950,AITKIN,BARLEY,BARLEY,600,"16,200",27.0
1,1950,AITKIN,CORN,"CORN, GRAIN","4,800","72,000",15.0
2,1950,AITKIN,FLAXSEED,FLAXSEED,"1,000","7,000",7.0
3,1950,AITKIN,HAY,HAY,"49,200",NaN,NaN
4,1950,AITKIN,OATS,OATS,"7,900","213,300",27.0
...,...,...,...,...,...,...,...
56263,2021,WRIGHT,CORN,"CORN, GRAIN","76,600","11,092,000",144.8
56264,2021,WRIGHT,OATS,OATS,"1,350","65,600",48.6
56265,2021,WRIGHT,SOYBEANS,SOYBEANS,"71,100","3,278,000",46.1
56266,2021,WRIGHT,WHEAT,"WHEAT, SPRING, (EXCL DURUM)","1,110","51,200",46.1
56267,2021,YELLOW MEDICINE,WHEAT,"WHEAT, SPRING, (EXCL DURUM)","1,530","81,400",53.2

In [33]:
county_df = county_df[['Year', 'County', 'Commodity', 'YIELD, MEASURED IN BU / ACRE']]

In [34]:
county_df = county_df[county_df['Commodity'] == 'OATS']

In [35]:
county_df

       Year    County Commodity  YIELD, MEASURED IN BU / ACRE
4      1950    AITKIN      OATS                          27.0
15     1950     ANOKA      OATS                          28.0
26     1950    BECKER      OATS                          34.0
37     1950  BELTRAMI      OATS                          36.0
47     1950    BENTON      OATS                          20.0
...     ...       ...       ...                           ...
56222  2021    STEELE      OATS                          81.2
56229  2021     SWIFT      OATS                          68.7
56235  2021      TODD      OATS                          36.6
56257  2021  WATONWAN      OATS                          58.1
56264  2021    WRIGHT      OATS                          48.6

[4904 rows x 4 columns]

In [43]:
county_df['County'] = county_df['County'].str.lower()
county_df['County'] = county_df['County'].str.capitalize()
county_df['County'] = county_df['County'].astype(str) + " County"

In [44]:
county_df['index'] = county_df['Year'].astype(str) + "-" + county_df['County']

In [45]:
county_df

,Year,County,Commodity,"YIELD, MEASURED IN BU / ACRE",index
4,1950,Aitkin County,OATS,27.0,1950-Aitkin County
15,1950,Anoka County,OATS,28.0,1950-Anoka County
26,1950,Becker County,OATS,34.0,1950-Becker County
37,1950,Beltrami County,OATS,36.0,1950-Beltrami County
47,1950,Benton County,OATS,20.0,1950-Benton County
...,...,...,...,...,...
56222,2021,Steele County,OATS,81.2,2021-Steele County
56229,2021,Swift County,OATS,68.7,2021-Swift County
56235,2021,Todd County,OATS,36.6,2021-Todd County
56257,2021,Watonwan County,OATS,58.1,2021-Watonwan County
56264,2021,Wright County,OATS,48.6,2021-Wright County

In [46]:
county_df = county_df[['index', 'County', 'YIELD, MEASURED IN BU / ACRE']]

In [47]:
county_df

                      index           County  YIELD, MEASURED IN BU / ACRE
4        1950-Aitkin County    Aitkin County                          27.0
15        1950-Anoka County     Anoka County                          28.0
26       1950-Becker County    Becker County                          34.0
37     1950-Beltrami County  Beltrami County                          36.0
47       1950-Benton County    Benton County                          20.0
...                     ...              ...                           ...
56222    2021-Steele County    Steele County                          81.2
56229     2021-Swift County     Swift County                          68.7
56235      2021-Todd County      Todd County                          36.6
56257  2021-Watonwan County  Watonwan County                          58.1
56264    2021-Wright County    Wright County                          48.6

[4904 rows x 3 columns]

In [48]:
county_df.to_csv('oats_data.csv',index=False)